<footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p class="mb-1">&copy; 2025 NutriGym. Todos los derechos reservados.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a  routerLink="/politicapriva" routerLinkActive="active">politica de privacidad</a>
        </li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item">
            <a  routerLink="/terminos" routerLinkActive="active">terminos y condiciones</a>
        </li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item">
            <a  routerLink="/contacta" routerLinkActive="active">contacto</a>
        </li>
      </ul>
      <div class="mt-2">
        <a href="https://www.facebook.com/Prozis/?locale=es_LA" class="text-white me-3"><i class="bi bi-facebook"></i></a>
        <a href="https://x.com/prozisofficial?lang=es" class="text-white me-3"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/prozis/" class="text-white"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </footer>
  