
<header>
    <div class="logo">
        <img src="/imagenes/Logotipo.png" alt="Logo Suplementos">
    </div>
    <nav>
        <a routerLink="/inicio" routerLinkActive="active">inicio</a> 
        
        <div class="dropdown">
            <a>Productos</a>
            <div class="dropdown-content">
                <a routerLink="/ropa" routerLinkActive="active">Ropa</a>
                <a routerLink="/suplementos"  routerLinkActive="active">Suplementos</a>
                <a routerLink="/recetas" routerLinkActive="active">Recetas</a>
                <a routerLink="/rutinas" routerLinkActive="active">Rutinas</a>
            </div>
        </div>

        <a routerLink="/favoritos" routerLinkActive="active">favoritos</a>
        <a routerLink="/cesta" routerLinkActive="active">cesta</a>
        <a routerLink="/perfil" routerLinkActive="active">
            <i class="bi bi-person"></i>
        </a>
    </nav>
</header>