
<form #miformulario="ngForm" (ngSubmit)="insertar(miformulario.value)">
   

    <label for="name">nombre</label>
    <input type="text" id="name" name="name" ngModel>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" ngModel>

    <label for="password">contraseña</label>
    <input type="password" id="password" name="password" ngModel>

    <label for="Password2">Confirma su contraseña</label>
    <input type="password" id="confirmPassword" name="confirmPassword" ngModel>

    <button type="submit">Login</button>
</form>

  