
<div class="container py-5">
    <h1 class="text-center fw-bold mb-4">🔎 Buscador de Recetas</h1>
  
    <div class="d-flex justify-content-center">
      <div class="input-group w-50">
        <input type="text" class="form-control rounded-pill px-4 shadow-sm" [(ngModel)]="searchQuery"
          placeholder="Buscar recetas..." (keyup.enter)="buscarRecetas(searchQuery)" />
        <button class="btn btn-dark rounded-pill px-4 ms-2 shadow-sm" (click)="buscarRecetas(searchQuery)">Buscar</button>
      </div>
    </div>
  
    <div *ngIf="recipes && recipes.length > 0" class="mt-5">
      <h2 class="text-center fw-semibold mb-4">Resultados</h2>
      <div class="row justify-content-center">
        <div *ngFor="let recipe of recipes" class="col-lg-3 col-md-4 col-sm-6">
          <div class="card border-0 shadow-sm p-2 rounded-4">
            <a href="{{recipe.recipe.url}}" target="_blank" style="text-decoration: none; color: black">
              <img [src]="recipe.recipe.image" [alt]="recipe.recipe.label" class="card-img-top rounded-4">
              <div class="card-body text-center">
                <h5 class="card-title fw-medium">{{ recipe.recipe.label }}</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <p *ngIf="recipes?.length === 0" class="text-center text-muted mt-4">
      ❌ No se encontraron recetas.
    </p>
  </div>